html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    /*max-width: 1200px;*/
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

.button {
    background-color: #274a72; /* Green */
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 25px;
    outline: 0;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.frame {
    width: 95%;
    border: 2px black solid;
    border-radius: 5px;
    height: 600px;
    background: white;
}

#side-by-side {
    width: 100%;
}

#desktop-frame {
    width: calc(100% - 345px);
    box-sizing: border-box;
}

#mobile-frame {
    margin-left: 20px;
    width: 320px;
    box-sizing: border-box;
}

.b2 {
    height: 44px;
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    display: none;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

#export {
    float: right;
    background-color: #4c4cff;
}

#side-by-side {
    margin-top: 40px;
}

#comments {
    width: 300px;
}

.merge-button {
    margin-top: 10px;
}

.hidden {
    display: none;
}
#next {
    margin-top: 5px;
}

#siteData {
    font-size: 12px;
}

#csv {
    margin-right: 5%;
    margin-top: 5px;
    float: right;
}

#siteCount {
    float: right;
    font-size: 14px;
}

#viewData {
    width: 95%;
}
